<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <header>
        <div class="form-group" >
            <div class="d-flex justify-content-between">
                
                    
                    <form action="/Card/GetBalance" method="post">
                        <button class="btn btn-primary" type="submit">Bakiye Sorgulama</button>
                    </form>
                    <form action="/Card/LoadBalance" method="post">
                        <button class="btn btn-primary" type="submit">Bakiye Ekle</button>
                    </form>
                    <form action="/User/AddCard" method="post">
                        <button class="btn btn-primary" type="submit">Kart Ekle</button>
                    </form>
                    <form action="/User/AddUser" method="post">
                        <button class="btn btn-primary" type="submit">Kullancı Ekle</button>
                    </form>
                
            </div>
        </div>
    </header>
    <main>
        
    </main>
</body>
</html>