!
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <header>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">
                    <form action="/Card/GetBalance" method="post" class="form-inline">
                        <input type="text" name="CardNumber"  class="form-control" placeholder="Card Number" />
                        <button class="btn btn-primary" type="submit">Button</button>
                    </form>
                </h1>
            </div>
        </div>
    </header>
    <main>

    </main>
</body>
</html>