
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <header>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                -
                    <form action="/Card/LoadBalance" method="post">
                        <div class="form-group">
                            <label for="CardNumber">CardNumber</label>
                            <input type="text" name="CardNumber" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="Balance">Bakiye </label>
                            <input type="text" name="Balance" class="form-control" />
                            <button class="btn btn-primary" type="submit">Yükle</button>
                        </div>
                    </form>
                
            </div>
        </div>
    </header>
    <main>

    </main>
</body>
</html>